.iconNotepad {
  min-width: fit-content;
}
.iconCheck,
.iconTrash {
  font-size: 1.75rem!important;
  min-width: fit-content;
  cursor: pointer;
  color: gray;
  transition: transform 0.3s;
}
.iconCheck:hover,
.iconTrash:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.iconCheck:hover{
  color: chartreuse;
}

.iconTrash:hover {
  color: tomato;
}
.isCompleted {
  background-color: #ace69d;
  border: 1px solid black;
}